@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 500;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
}
.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  border-radius: 5px;
  text-transform: uppercase;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.artist-img {
  width: 250px;
  height: 250px;
  margin-bottom: 11px;
}
@media only screen and (max-width: 992px) {
  .artist-img {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (max-width: 768px) {
  .artist-img {
    width: 137px;
    height: 137px;
  }
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font: 400 16px/1.5 Roboto, sans-serif;
  color: #cacaca;
  background-color: #08020d;
}
@media only screen and (max-width: 560px) {
  body {
    font-size: 16px;
  }
}

main {
  flex-grow: 1;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  object-fit: contain;
}

input,
button,
textarea,
select {
  font: inherit;
}

a,
button {
  cursor: pointer;
}

a {
  color: inherit;
}

h1,
h2,
h3 {
  color: #fff;
}

h1,
h2 {
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
}
@media only screen and (max-width: 992px) {
  h1 {
    font-size: 45px;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 560px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-size: 38px;
}
@media only screen and (max-width: 992px) {
  h2 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 560px) {
  h2 {
    font-size: 18px;
  }
}

h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
}
@media only screen and (max-width: 560px) {
  h3 {
    font-size: 16px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.absolute {
  position: absolute;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.gap-20 {
  gap: 20px;
}

.gap-50 {
  gap: 50px;
}

.grid-50-25 {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 25px;
}

.repeat-4-250 {
  grid-template-columns: repeat(4, 250px);
}
@media only screen and (max-width: 1200px) {
  .repeat-4-250 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .repeat-4-250 {
    grid-template-columns: repeat(3, 137px);
  }
}
@media only screen and (max-width: 560px) {
  .repeat-4-250 {
    grid-template-columns: repeat(2, 137px);
  }
}

.ls-none {
  list-style: none;
}

.td-none {
  text-decoration: none;
}

.ttu {
  text-transform: uppercase;
}

.border-none {
  border: none;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.m-0 {
  margin: 0;
}

.m-0-auto {
  margin: 0 auto;
}

.mt-0 {
  margin-top: 0;
}

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-90 {
  margin-right: 90px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-90 {
  margin-right: 90px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-200 {
  margin-bottom: 200px;
}

.p-0 {
  padding: 0;
}

.p-0-20 {
  padding: 0 20px;
}

.p-100-20-0 {
  padding: 100px 20px 0;
}

.pt-100 {
  padding-top: 100px;
}

.p-20-30 {
  padding: 20px 30px;
}

.p-16-30 {
  padding: 16px 30px;
}

.orange {
  color: #f89202;
}

.text-grey {
  color: #cacaca;
}

.text-white {
  color: #fff;
}

.text-light-grey {
  color: #e0e0e0;
}

.bg-transparent {
  background-color: transparent;
}

.bg-dark-grey {
  background-color: #3c3b3d;
}

.bg-green {
  background-color: #34c176;
}

.bg-dark-orange {
  background-color: #95390c;
}

.bg-purple {
  background-color: #5328a1;
}

.br-5 {
  border-radius: 5px;
}

.border-white {
  border: 1px solid #fff;
}

.fz-13 {
  font-size: 12.8px;
  line-height: 1.5;
}

.fw-700 {
  font-weight: 700;
}

@media only screen and (max-width: 992px) {
  .order-1 {
    order: -1;
  }
}

.fs-normal {
  font-style: normal;
}

.header {
  top: 25px;
  right: 0;
  left: 0;
}

@media only screen and (max-width: 992px) {
  .header-content {
    display: block;
  }
}

.menu {
  font-size: 11px;
}
@media only screen and (max-width: 992px) {
  .menu {
    justify-content: space-between;
    margin-bottom: 17px;
  }
}
@media only screen and (max-width: 560px) {
  .menu {
    flex-direction: column;
    row-gap: 3px;
    align-items: flex-start;
    font-weight: 700;
  }
}

@media only screen and (max-width: 560px) {
  .menu-item {
    margin: 0;
  }
}

.menu-active {
  color: #fff;
}

.logo-icon {
  width: 24px;
  height: 24px;
}

@media only screen and (max-width: 560px) {
  .menu-list {
    display: block;
  }
}

.search {
  width: 248px;
  height: 25px;
  padding: 5px 10px;
  border-radius: 50px;
}
@media only screen and (max-width: 560px) {
  .search {
    width: 100%;
  }
}

.search::placeholder {
  font-size: 13px;
  text-transform: uppercase;
  color: #757575;
}

.banner {
  padding: 200px 0;
}
@media only screen and (max-width: 560px) {
  .banner {
    padding: 246px 0 205px;
  }
}

.bg-banner {
  background-image: url("../images/bg-banner.png");
  background-position: center;
  background-size: cover;
}

.banner-subtitle {
  margin: 0 0 32px;
}
@media only screen and (max-width: 768px) {
  .banner-subtitle {
    margin-bottom: 16px;
  }
}

.form-access {
  max-width: 570px;
  width: 100%;
}

.input-border {
  border: 2px solid #cacaca;
  border-radius: 3px;
}
.input-access {
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
}
@media only screen and (max-width: 768px) {
  .input-access {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .input-name {
    margin: 0 0 24px 0;
  }
}

.input-access::placeholder {
  color: #fff;
  font: bold 14px/16px "Roboto", sans-serif;
}

.form-info {
  margin-bottom: 1.5rem;
}

.access-btn {
  padding: 20px 30px;
  font-size: 13px;
  line-height: 17px;
}

.pricing-title {
  margin-bottom: 49px;
}

.pricing-item {
  max-width: 367px;
  width: 100%;
  height: 615px;
  padding: 1.5rem;
  border-radius: 1rem;
}
@media only screen and (max-width: 1200px) {
  .pricing-item {
    height: 595px;
    padding-top: 16px;
  }
}
@media only screen and (max-width: 560px) {
  .pricing-item {
    max-width: 374px;
  }
}

.subscribe_1 {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.subscribe_2 {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.subscribe_3 {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 560px) {
  .subscribe_1,
.subscribe_2,
.subscribe_3 {
    background-position: top;
  }
}

.pricing-types {
  margin-bottom: 41px;
}
@media only screen and (max-width: 1200px) {
  .pricing-types {
    justify-content: space-evenly;
    gap: 50px;
  }
}
@media only screen and (max-width: 560px) {
  .pricing-types {
    margin-bottom: 40px;
  }
}

.pricing-value {
  font-size: 64px;
  line-height: 1;
}
.pricing-value span {
  font-size: 32px;
  line-height: 1.5;
  vertical-align: top;
}

.pricing-footer {
  font-size: 12.8px;
}

@media only screen and (max-width: 992px) {
  .news-item {
    flex-direction: column;
  }
}

.new-title {
  font-size: 30px;
}
@media only screen and (max-width: 560px) {
  .new-title {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1200px) {
  .new {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .new {
    text-align: start;
  }
}

.new-box {
  max-width: 575px;
  width: 100%;
  height: 286px;
}
@media only screen and (max-width: 560px) {
  .new-box {
    height: 256px;
  }
}

.new-img {
  width: 575px;
  height: 286px;
}
@media only screen and (max-width: 560px) {
  .new-img {
    width: 376px;
    height: 186px;
  }
}

@media only screen and (max-width: 560px) {
  .new-title {
    margin-bottom: 16px;
  }
}

.box-date {
  font-size: 12px;
}
@media only screen and (max-width: 1200px) {
  .box-date {
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .box-date {
    justify-content: start;
  }
}
@media only screen and (max-width: 560px) {
  .box-date {
    align-items: flex-start;
  }
}

.logo-icon-new {
  width: 19px;
  height: 19px;
}

.album-link {
  display: inline-block;
  padding: 17px 31px;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
}

@media only screen and (max-width: 1200px) {
  .new-2order {
    order: 2;
  }
}

@media only screen and (max-width: 768px) {
  .app-wrapper {
    flex-direction: column;
    order: -1;
  }
}

.app-content {
  max-width: 600px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .app-content {
    margin: 0 auto;
  }
}

.download-btn {
  padding: 16px 40px;
  border-radius: 32px;
}

.app-img {
  margin-right: 123px;
}
@media only screen and (max-width: 1200px) {
  .app-img {
    margin-right: 0;
  }
}
@media only screen and (max-width: 768px) {
  .app-img {
    order: -1;
    width: 550px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 560px) {
  .app-img {
    width: 333px;
    height: 278px;
  }
}

.artist-banner {
  padding: 250px 0 225px;
}
@media only screen and (max-width: 560px) {
  .artist-banner {
    padding-top: 225px;
  }
}

.morten-harket {
  background-image: url("../images/morten-harket.png");
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 560px) {
  .btn-block {
    flex-direction: column;
  }
}

.artist-btn {
  width: 200px;
}

@media only screen and (max-width: 560px) {
  .mix-btn {
    margin: 0 0 27px;
  }
}

.img-btn {
  width: 20px;
  height: 20px;
}

.popular-tracks-content {
  grid-template-columns: repeat(2, 550px);
}
@media only screen and (max-width: 1200px) {
  .popular-tracks-content {
    grid-template-columns: repeat(2, 450px);
  }
}
@media only screen and (max-width: 992px) {
  .popular-tracks-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .popular-tracks-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 560px) {
  .popular-tracks-content {
    margin-right: 0;
  }
}

.popular-track-img {
  width: 55px;
  height: 55px;
}

.disc-title {
  font-size: 18px;
}
@media only screen and (max-width: 560px) {
  .disc-title {
    font-weight: normal;
  }
}

.similar-title {
  font-size: 18px;
}

.footer-top {
  padding: 3rem 0;
  border-bottom: 2px solid #cacaca;
}
@media only screen and (max-width: 560px) {
  .footer-top {
    border-bottom: 1px solid #cacaca;
  }
}

.footer-list {
  margin: 12px 0 26px;
  row-gap: 30px;
}
@media only screen and (max-width: 1200px) {
  .footer-list {
    justify-content: space-around;
  }
}
@media only screen and (max-width: 992px) {
  .footer-list {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 560px) {
  .footer-list {
    margin-top: 16px;
    align-items: flex-start;
  }
}

.footer-item {
  max-width: 270px;
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .footer-item {
    text-align: center;
  }
}
@media only screen and (max-width: 560px) {
  .footer-item {
    text-align: left;
  }
}

.footer-title {
  font-size: 18px;
  line-height: 27px;
}

.address {
  font-size: 15px;
}
@media only screen and (max-width: 560px) {
  .address {
    font-size: 16px;
  }
}

@media only screen and (max-width: 992px) {
  .social {
    justify-content: center;
  }
}
@media only screen and (max-width: 560px) {
  .social {
    justify-content: start;
  }
}

.social-title {
  margin-bottom: 19px;
}
@media only screen and (max-width: 560px) {
  .social-title {
    margin-bottom: 17px;
  }
}

.footer-bottom {
  padding: 2rem 0;
}

.footer-nav {
  margin: 8px 0 17px;
}
@media only screen and (max-width: 992px) {
  .footer-nav {
    justify-content: center;
  }
}
@media only screen and (max-width: 560px) {
  .footer-nav {
    flex-direction: column;
    margin: 7px 0 16px;
  }
}

@media only screen and (max-width: 560px) {
  .footer-nav-item {
    margin: 0 0 16px;
  }
}

/*# sourceMappingURL=style.css.map */
