.artist-banner {
  padding: 250px 0 223px;
  @include media("phone") {
    padding-top: 225px;
  }
}

@include img("morten-harket");

.btn-block {
  @include media("phone") {
    flex-direction: column;
  }
}

.artist-btn {
  width: 200px;
}

.mix-btn {
  @include media("phone") {
    margin: 0 0 27px;
  }
}

.img-btn {
  width: 20px;
  height: 20px;
}
