.absolute {
  position: absolute;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.gap-20 {
  gap: 20px;
}

.gap-50 {
  gap: 50px;
}

.grid-50-25 {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 25px;
}

.repeat-4-250 {
  grid-template-columns: repeat(4, 250px);
  @include media("desktop") {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media("tablet") {
    grid-template-columns: repeat(3, 137px);
  }

  @include media("phone") {
    grid-template-columns: repeat(2, 137px);
  }
}

.ls-none {
  list-style: none;
}

.td-none {
  text-decoration: none;
}

.ttu {
  text-transform: uppercase;
}

.border-none {
  border: none;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.m-0 {
  margin: 0;
}

.m-0-auto {
  margin: 0 auto;
}

.mt-0 {
  margin-top: 0;
}

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}


.mr-90 {
  margin-right: 90px;
}
.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-90 {
  margin-right: 90px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-200 {
  margin-bottom: 200px;
}

.p-0 {
  padding: 0;
}

.pt-100 {
  padding-top: 100px;
}

.p-20-30 {
  padding: 20px 30px;
}

.p-16-30 {
  padding: 16px 30px;
}

.orange {
  color: $orange;
}

.text-grey {
  color: $grey;
}

.text-white {
  color: $white;
}

.text-light-grey {
  color: $light-grey;
}

.bg-transparent {
  background-color: transparent;
}

.bg-dark-grey {
  background-color: $dark-grey;
}

.bg-green {
  background-color: $green;
}

.bg-dark-orange {
  background-color: $dark-orange;
}

.bg-purple {
  background-color: $purple;
}

.br-5 {
  border-radius: 5px;
}

.border-white {
  border: 1px solid $white;
}

.fz-13 {
  font-size: 12.8px;
  line-height: 1.5;
}

.fw-700 {
  font-weight: 700;
}

.order-1 {
  @include media("tablet-2") {
    order: -1;
  }
}

.fs-normal {
  font-style: normal;
}
