.header {
  top: 25px;
  right: 0;
  left: 0;
}

.header-content {
  @include media("tablet-2") {
    display: block;
  }
}

.menu {
  font-size: 11px;

  @include media("tablet-2") {
    justify-content: space-between;
  }

  @include media("phone") {
    flex-direction: column;
    align-items: flex-start;
    font-weight: 700;
  }
}

.menu-item {
  @include media("phone") {
    line-height: 13px;
    margin: 0;
  }
}

.menu-active {
  color: $white;
}

.logo-icon {
  width: 24px;
  height: 24px;
}

.menu-list {
  @include media("phone") {
    flex-direction: column;
    row-gap: 3px;
    margin: 17px 0 18px;
  }
}

.search {
  width: 248px;
  height: 25px;

  padding: 5px 10px;

  border-radius: 50px;

  @include media("phone") {
    width: 100%;
  }
}

.search::placeholder {
  font-size: 13px;
  text-transform: uppercase;
  color: #757575;
}
