.news-item {
  @include media("tablet-2") {
    flex-direction: column;
  }
}

.new-title {
  font-size: 30px;
  @include media("phone") {
    font-size: 16px;
  }
}

.new {
  @include media("desktop") {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  @include media("tablet") {
    text-align: start;
  }
}
.new-box {
  max-width: 575px;
  width: 100%;
  height: 286px;
  @include media("phone") {
    height: 256px;
  }
}

.new-img {
  @include media("desktop") {
    margin-bottom: 50px;
  }
  @include media("phone") {
    width: 376px;
    height: 186px;
  }
}
.new-title {
  @include media("phone") {
    margin-bottom: 16px;
  }
}

.box-date {
  font-size: 12px;
  @include media("desktop") {
    justify-content: center;
  }
  @include media("tablet") {
    justify-content: start;
  }
  @include media("phone") {
    align-items: flex-start;
  }
}

// .logo-new {
//   @include media("phone") {
//     margin: 0 21px 0 0;
//   }
// }

.logo-icon-new {
  width: 19px;
  height: 19px;
}

.album-link {
  display: inline-block;
  padding: 17px 31px;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
}

.new-2order {
  @include media("desktop") {
    order: 2;
  }
}
