.pricing-title {
  margin-bottom: 49px;
}

.pricing-item {
  max-width: 367px;
  width: 100%;
  height: 615px;

  padding: 1.5rem;

  border-radius: 1rem;
  @include media("desktop") {
    height: 595px;
    // padding-top: 16px;
    padding-top: 15px;
  }
  @include media("phone") {
    max-width: 374px;
  }
}

@include img("subscribe_1");
@include img("subscribe_2");
@include img("subscribe_3");

.subscribe_1,
.subscribe_2,
.subscribe_3 {
  @include media("phone") {
    background-position: top;
  }
}

.pricing-types {
  margin-bottom: 41px;
  @include media("desktop") {
    justify-content: space-evenly;
    gap: 50px;
  }
  @include media("phone") {
    margin-bottom: 40px;
  }
}

.pricing-value {
  font-size: 64px;
  line-height: 1;

  & span {
    font-size: 32px;
    line-height: 1.5;
    vertical-align: top;
  }
}

.pricing-link {
  @include media("desktop") {
    margin-bottom: 63px;
  }
}

.pricing-footer {
  font-size: 12.8px;
}
